@media (max-width: 1280px){
    body{
        padding: 0 40px;
    }
}

@media (max-width: 768px){
    body{
        padding: 40px;
    }
}

@media (max-width: 425px){
    body{
        padding: 40px;
    }

    .container-respostas {
        margin: 0;
}
    .container-respostas-1 {
        display: inline-flex;
        gap: 20px;
    }

    .container-respostas-2 {
        display: inline-flex;
        gap: 20px;
    }
}
